<div class="border-start ps-3 pb-3 pt-3">
    <div class="card mb-3">
        <h6 class="card-header"><i class="fa fa-folder-open"></i> 分类</h6>
        <div class="card-body">
            <ul class="list-group border-0">
                <a class="list-group-item border-0 pt-0 pb-0 ps-1">
                    python <span class="badge bg-secondary float-end m-1">4</span>
                </a>
                <a class="list-group-item border-0 pt-0 pb-0 ps-1">
                    java <span class="badge bg-secondary float-end m-1">6</span>
                </a>
                <a class="list-group-item border-0 pt-0 pb-0 ps-1">
                    php <span class="badge bg-secondary float-end m-1">8</span>
                </a>
                <a class="list-group-item border-0 pt-0 pb-0 ps-1">
                    scala <span class="badge bg-secondary float-end m-1">9</span>
                </a>

            </ul>
        </div>
    </div>

    <div class="card mb-3">
        <h6 class="card-header"><i class="fa fa-tag"></i> 标签</h6>
        <div class="card-body tag-hover">
            <a class="text-decoration-none border-0 d-inline-flex link-dark pt-0 pb-0 p-0" href="#">
                随笔 <span class="badge bg-secondary m-1">4</span>
            </a>
            <a class="text-decoration-none border-0 d-inline-flex link-dark pt-0 pb-0 p-0" href="#">
                狂想曲 <span class="badge bg-secondary m-1">4</span>
            </a>
            <a class="text-decoration-none border-0 d-inline-flex link-dark pt-0 pb-0 p-0" href="#">
                静夜思 <span class="badge bg-secondary m-1">4</span>
            </a>
            <a class="text-decoration-none border-0 d-inline-flex link-dark pt-0 pb-0 p-0" href="#">
                挣扎 <span class="badge bg-secondary m-1">4</span>
            </a>
        </div>
    </div>

    <div class="card mb-3">
        <h6 class="card-header"><i class="fa fa-clock-o"></i> 最近文章</h6>
        <div class="card-body tag-hover">
            <ul class="list-group border-0">
                <a class="list-group-item border-0 pt-0 pb-0 ps-1 fs-6 text">
                    <small>《Hexo: 从零开始编写自己的主题》3. 优化样式，设计自己的主题 </small>
                </a>

                <a class="list-group-item border-0 pt-0 pb-0 ps-1">
                    <small> 《Hexo: 从零开始编写自己的主题》2. 入门Hexo主题编写</small>


                </a>
                <a class="list-group-item border-0 pt-0 pb-0 ps-1">
                    <small>《Hexo: 从零开始编写自己的主题》1. Hexo概述以及Hexo工作原理 </small>
                </a>
            </ul>
        </div>
    </div>
    <div class="card mb-3">
        <h6 class="card-header"><i class="fa fa-link"></i> 友情链接</h6>
        <div class="card-body tag-hover">
            <ul class="list-group border-0">
                <a class="list-group-item border-0 pt-0 pb-0 ps-1 fs-6 text">
                    <small>csdn</small>
                </a>

                <a class="list-group-item border-0 pt-0 pb-0 ps-1">
                    <small>hexo</small>
                </a>
                <a class="list-group-item border-0 pt-0 pb-0 ps-1">
                    <small>笑颜网</small>
                </a>
            </ul>
        </div>
    </div>
</div>